.navbar-nav {
  li {
    margin: 0 2rem;
  }

  a {
    display: block;
    position: relative;
    padding: 0.2em 0;
    color: inherit;
    text-decoration: none;
    font-size: 18px;

    // Underline effect
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: #282936;
      opacity: 0;
      transition: opacity 300ms, transform 300ms;
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
      transform: translate3d(0, 0.2em, 0);
    }
  }

  // Bold text for active button
  button.active a {
    font-weight: 600;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-nav {
    li {
      margin: 0 0.7rem;
    }
  }
}
